body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
}

div#container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
}

table#main td {
    border: 1px black solid;    
}

thead, tfoot {
    text-align: center;
}

.positive {
    background-color: lime;
}

.negative {
    background-color: pink;
}

nav {
    width: 20%;
    float: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.2em;
}

nav ul li a:hover {
    color: red;
}

article {
    float: right;
    width: 80%;
}

footer {
    clear: both;
    padding-top: 50px;
    text-align: center;
}

button#collapse {
    display: none;
}

.hidden {
    display: none;
}

.error {
    border: 2px red solid;
}

@media screen and (max-width: 360px) {
    article {
        float: none;
    }

    nav {
        float: none;
        display: none;
    }

    button#collapse {
        display: block;
    }
}